<!DOCTYPE html>
<html>
  <head>
    <title>Coinoutpost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="icon" type="image/svg+xml" href="https://api.iconify.design/noto:coin.svg">
    <%= javascript_include_tag 'application' %>
    <meta property='og:title' content='Coinoutpost'/>
    <meta property='og:image' content='https://i.imgur.com/OOCSD6f.png'/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
