<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <title>Coinoutpost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="icon" type="image/svg+xml" href="https://api.iconify.design/noto:coin.svg">
    <%= javascript_include_tag 'application' %>
    <meta property='og:title' content='Coinoutpost'/>
    <meta name="image" property='og:image' content='https://i.imgur.com/OOCSD6f.png'/>
    <meta property='og:description' content='Coinoutpost App'/>
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="https://coinoutpost.herokuapp.com">
    <meta name="author" content="Anthony Chen"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
